QLNhaHang/QLNhaHang/Service References/WS_TinTuc/TinTuc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="getBaiVietSoHoa">
        <s:complexType />
      </s:element>
      <s:element name="getBaiVietSoHoaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBaiVietSoHoaResult" type="tns:ArrayOfBaiViet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBaiViet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BaiViet" nillable="true" type="tns:BaiViet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BaiViet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TuaBaiViet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoiDung" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayCapNhat" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LienKet" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getTyGia">
        <s:complexType />
      </s:element>
      <s:element name="getTyGiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTyGiaResult" type="tns:ArrayOfExrate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfExrate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Exrate" nillable="true" type="tns:Exrate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Exrate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Buy" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Transfer" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Sell" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getBaiVietSoHoaSoapIn">
    <wsdl:part name="parameters" element="tns:getBaiVietSoHoa" />
  </wsdl:message>
  <wsdl:message name="getBaiVietSoHoaSoapOut">
    <wsdl:part name="parameters" element="tns:getBaiVietSoHoaResponse" />
  </wsdl:message>
  <wsdl:message name="getTyGiaSoapIn">
    <wsdl:part name="parameters" element="tns:getTyGia" />
  </wsdl:message>
  <wsdl:message name="getTyGiaSoapOut">
    <wsdl:part name="parameters" element="tns:getTyGiaResponse" />
  </wsdl:message>
  <wsdl:portType name="TinTucSoap">
    <wsdl:operation name="getBaiVietSoHoa">
      <wsdl:input message="tns:getBaiVietSoHoaSoapIn" />
      <wsdl:output message="tns:getBaiVietSoHoaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTyGia">
      <wsdl:input message="tns:getTyGiaSoapIn" />
      <wsdl:output message="tns:getTyGiaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TinTucSoap" type="tns:TinTucSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBaiVietSoHoa">
      <soap:operation soapAction="http://microsoft.com/webservices/getBaiVietSoHoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTyGia">
      <soap:operation soapAction="http://microsoft.com/webservices/getTyGia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TinTucSoap12" type="tns:TinTucSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBaiVietSoHoa">
      <soap12:operation soapAction="http://microsoft.com/webservices/getBaiVietSoHoa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTyGia">
      <soap12:operation soapAction="http://microsoft.com/webservices/getTyGia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TinTuc">
    <wsdl:port name="TinTucSoap" binding="tns:TinTucSoap">
      <soap:address location="http://uyen.somee.com/TinTuc.asmx" />
    </wsdl:port>
    <wsdl:port name="TinTucSoap12" binding="tns:TinTucSoap12">
      <soap12:address location="http://uyen.somee.com/TinTuc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>